.layout-wrapper {
  display: flex; 
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6f9;
}
.sidibar-aside {
  width: 260px;
  min-width: 260px;
  height: 100vh;
  position: sticky;
  top: 0;
}
.main-wrapper {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;
}
.contet-body {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto; 
  height: calc(100vh - 70px); 
}
@media screen and (max-width: 992px) {
  .layout-wrapper {
    flex-direction: column; 
  }
  .contet-body {
    height: auto; 
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  .contet-body {
    padding: 12px;
  }
}